@import url("https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  font-family: poppins;
}

body {
  --color: #000;
  --bg-color: #f8f8f8;
  --btn-bg: #f8f8f8;
  --white: #fff;
  --gray: #383838;
  --off: #949494;
  --hover-color: #e6e6e6;
  --close: #fff;
  --red: #f22;
  --blue: #004ec2;
  --border-color: #d4d4d4;
  color: var(--color);
  background: var(--white);
  z-index: 20;
}

body.dark {
  /* --color: #3cff00; */
  --color: #fff;
  --bg-color: #323232;
  --btn-bg: #3d3d3d;
  --white: #3b3b3b;
  --gray: #cfcfcf;
  --close: #dfdfdf;
  --hover-color: #494949;
  --red: #f22;
  --blue: #ffffff;
  --border-color: #2e2e2e;
  color: var(--color);
}

.container {
  height: 500px;
  transform: scale(1.1);
  width: 320px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin: calc((100vh - 500px) / 2) auto;
  background: var(--bg-color);
  overflow: hidden !important;
}

.container ~ .container .menu.active {
  background: #ff0000;
}

.menu {
  opacity: 0;
  width: 0px;
  height: 470px;
  padding: 10px 0 10px 5px;
  background: var(--white);
  position: absolute;
  margin-top: 28px;
  /* margin-left: -50px; */
  border: 1px solid var(--border-color);
  border-radius: 0 12px 12px 0;
  transition: all 0.3s ease;
  visibility: hidden;
}

.menu.active {
  margin-left: 0px;
  opacity: 1;
  width: 255px;
  visibility: visible;
}

.menu i.fa-bars {
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.8 ease-in-out;
}

.menu i.fa-bars:hover {
  background: var(--hover-color);
  cursor: pointer;
}

h5 {
  color: var(--gray);
  font-weight: 600;
  margin: 12px 0 0 10px;
}

.menu ul::-webkit-scrollbar {
  display: none;
}

.menu ul {
  height: 380px;

  overflow-y: scroll;
  /* -ms-overflow-style: none; */
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.menu ul li {
  display: flex;
  align-items: center;
  height: 36px;
  list-style: none;
  border-radius: 5px 0 0 5px;
  margin: 3px 0;
  transition: all 0.2s ease;
}

.menu ul li.active {
  background: var(--hover-color);
}

.menu ul li:hover {
  background: var(--hover-color);
}

.settings a,
.menu ul a {
  text-decoration: none;
}

.menu ul li .indicator {
  content: "";
  background: var(--blue);
  height: 15px;
  width: 3px;
  border-radius: 50px;
}

.settings li i,
.menu ul li i {
  color: var(--color);
  font-size: 0.9rem;
  margin-left: 10px;
  padding: 5px;
}

.menu-name {
  font-size: 0.9rem;
  margin-left: 10px;
  color: var(--color);
  white-space: nowrap;
}

.settings {
  display: flex;
  height: 50px;
  background: var(--white);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0 0 12px 0;
  text-align: center;
  border-top: 1px solid var(--border-color);
}

.settings li {
  list-style: none;
  margin-left: 8px;
}

.settings li .menu-name {
  margin-left: 2px;
}

.fa-duotone {
  color: var(--blue);
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  margin-bottom: 8px;
}

.left .title {
  margin-left: 10px;
  font-size: 0.9rem;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.right button {
  color: var(--color);
  background: var(--bg-color);
  padding: 5px;
  top: 0;
  margin: 0;
  height: 35px;
  width: 45px;
  border: 0px;
}

.right .hide:hover,
.right .resize:hover {
  background: var(--hover-color);
}

.right .close:hover {
  background: var(--red);
  color: var(--close);
  border: 0px;
}

.options {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 4px;
}

.options .a i.fa-bars {
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.8 ease-in-out;
}

.options .a i.fa-bars:hover {
  background: var(--hover-color);
}

.options i.fa-sun-alt {
  margin-left: 15px;
  cursor: pointer;
}

.b {
  cursor: pointer;
}

input {
  width: calc(100% - 20px);
  margin: 0 10px;
  text-align: right;
  border: 0px;
  background: #ffffff00;
  color: var(--color);
}

input.display {
  height: 45px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 2.8rem;
  font-weight: 600;
}

.memory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  margin-bottom: 2px;
}

.memory .mry {
  width: 20%;
  height: 30px;
  padding: 1px;
  font-size: 0.8rem;
  border: none;
  border-radius: 4px;
  background: none;
  transition: all 0.2s ease;
  color: var(--color);
}

.memory .mry:hover {
  background: var(--hover-color);
}

.memory .mry.off {
  color: var(--off);
}

.memory .mry.off:hover {
  background: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 5px;
  gap: 0;
}

.btn {
  display: flex;
  height: 46px;
  margin: 0;
  width: 24%;
  margin-top: 3px;
  background: var(--btn-bg);
  border: 1px solid var(--border-color);
  justify-content: space-around;
  border-radius: 5px;
  color: var(--color);
}

.btn:hover {
  background: var(--hover-color);
}

.btn.num {
  font-size: 1.12rem;
  background: var(--hover-color);
}

.btn.num:hover {
  background: var(--btn-bg);
}

.eq {
  background: var(--blue);
  color: var(--white);
}

.eq:hover {
  background: var(--blue);
  color: var(--white);
}

.btn:active {
  opacity: 0.5;
}
